# Vendor software and anything derived from it: not ours to publish
*.exe
*CPS*/
*CPS*.zip
*Firmware*/
*Firmware*.zip
re/ghidra_proj/
re/*.c
re/*.log

# Radio dumps may contain personal data (radio ID, contacts)
probe*/
dump*/

__pycache__/
*.pyc
.DS_Store

# CHIRP images of a real radio are dumps too (a sanitised test image is fine)
*.img
!tests/images/*.img
